// overwrites colors defined in theme _albatross.sass

// nav and footer
nav
    background-color: #1fa34e
    border-top: none
    > a.active
        background-color: #078437

footer
    background-color: #1fa34e
    border-bottom: none
    a.w3-button
        background-color: #1fa34e

a
    color: #1fa34e
a:hover
    color: #078437

.albatros-download-button
    background-color: #1fa34e
.albatros-download-button:hover
    background-color: #078437

.doc-button
    display: inline-block
    background-color: #1fa34e
    color: white
    padding: 0.5em 1em
    margin-top: 1em
.doc-button:hover
    background-color: #078437
    color: white

// heading anchor
.zola-anchor
    font-size: 0.7em
    margin-left: 0.5em
    display: none

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover
    .zola-anchor
        display: inline

// table
table thead th
    background-color: #1fa34e
.table-double table tbody tr td:first-child
    background-color: #1fa34e

// simple icons logos
.si-logo
    height: 0.8em
    vertical-align: baseline
